<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="~{fragments/general :: head}">
    <!--    <link rel="stylesheet" th:href="@{/style.css}">-->

</head>
<body>
<div th:insert="~{fragments/general :: menu}"></div>
<div class="content" style="background-color:rgba(16,16,16,0.8); justify-content: center;">
	<h1>Leaderboards</h1>
	<div>
	<form th:action="@{'/leaderboards/' + ${region} + '/2v2'}" method="get">
	    <button type="submit">2v2</button>
	</form>

	<form th:action="@{'/leaderboards/' + ${region} + '/3v3'}" method="get">
	    <button type="submit">3v3</button>
	</form>
	<form th:action="@{'/leaderboards/' + 'EU/' + ${bracket}}" method="get">
	    <button type="submit">EU</button>
	</form>
	<form th:action="@{'/leaderboards/' + 'US/' + ${bracket}}" method="get">
	    <button type="submit">US</button>
	</form>
	</div>
	<div>

	<a th:href="@{/leaderboards/EU/2v2}">Click pls</a>
	</div>
	<table>
	  <tr>
	    <th>Title</th>
	    <th>Rank</th>
	    <th>Rating</th>
	    <th>Name</th>
	    <th>Class</th>
	    <th>Race</th>
	    <th>Realm</th>
	    <th>Stats</th>
	    <th>Win ratio</th>
	    <th>Faction</th>
	  </tr>
	  <tr th:each="player : ${leaderboards}">
	  	<!-- Expected Title -->
	  	<td>Title</td>
	  	<!-- Current rank -->
	    <td th:text="${player.rank}"></td>
	    <!-- Current rating -->
	    <td th:text="${player.rating}"></td>
	    <!-- Character name -->
	    <td th:text="${player.character.name}"></td>
	    <!-- Character class -->
	    <td th:text="${player.character.character_class.name}"></td>
	    <!-- Character race -->
	    <td th:text="${player.character.race.name}"></td>
	    <!-- Character realm -->
	    <td th:text="${player.character.realm.name}"></td>
	    <!-- Character win/lose stats -->
	    <td th:text="|${player.season_match_statistics.won}/${player.season_match_statistics.lost}|"></td>
	    <!-- Win percentage -->
	    <td th:with="ratio=${(100 * player.season_match_statistics.won) / player.season_match_statistics.played}" th:text="${ratio}"></td>
	    <!-- Faction -->
	    <td th:text="${player.faction}"></td>
	  </tr>
	</table>
	<!--
	<div th:each="player : ${leaderboards}">
	    <a th:href="@{/player/{playername}(playername=${player.character.name})}" th:text="${player.character.name}"></a>
	</div>
	-->
</div>
<div th:insert="~{fragments/general :: footer}"></div>
</body>
</html>